code, code * {
    color: rgb(245, 245, 245);
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0 0.5em;
}

pre, code {
    background: linear-gradient(115deg, rgb(12, 18, 64) 75%, rgb(66, 66, 100) 80%, rgb(12, 18, 64) 85%);
    border: 1px solid #8d8d8d;
    border-radius: 0.3em;
}

pre code {
    display: block;
    background: transparent;
    border: 0 none;
    overflow-x: auto;
    padding: 0.5em 0;

    &, * {
        line-height: 1.4;
    }
}


.string {
    color: rgb(225, 140, 136);
}

.number {
    color: rgb(209, 241, 181);
}


.variable, .property, .attribute {
    color: rgb(141, 251, 255);
}

.variable-declaration, .tag, .meta-attribute {
    color: rgb(68, 163, 252);
}


.function {
    color: rgb(240, 243, 105);
}

.keyword {
    color: rgb(236, 177, 245);
}


.bracket-lvl-1 {
    color: rgb(255, 226, 97);
}

.bracket-lvl-2 {
    color: rgb(237, 121, 255);
}

.bracket-lvl-3 {
    color: rgb(3, 75, 243);
}


.angle-bracket {
    color: rgb(153, 155, 150);
}

.selector {
    color: rgb(205, 197, 50);
}