@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('../../shared/fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../shared/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}