@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'mobile-menu';
@import 'technology';
@import 'blockquotes';
@import 'code';
@import 'utils';
@import 'fonts';

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-color $scrollbar-background-color;
}

*::-webkit-scrollbar {
    width: 0.6vw;
}

*::-webkit-scrollbar-track {
    background: $scrollbar-background-color;
}

*::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
}

*::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-hover;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, $background-color, $background-color-second 80%, $background-color 99%);
}

.header, .main, .footer {
    padding: 0 1em;
}

.main {
    flex: 1 0 auto;
    padding-bottom: 0.2em;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3em 0;
}

/* Title */

.title, .logo {
    margin-left: 3em;
}

.title * {
    color: $font-color-bold;
}

.title p {
    font-style: italic;
}

.title > a > * {
    transition: text-shadow 0.2s;

    &:hover {
        text-shadow: 0 0 1px $font-color;
    }

    &:first-child {
        animation: 1s ease drop-down-element;
    }

    &:last-child {
        animation: 1.5s ease drop-down-element;
    }
}

.logo {
    position: relative;
    width: fit-content;
    height: fit-content;
    transition: filter 0.2s;
    animation: 1.5s roll-in-element, 0.75s 0.75s highlight-element;
}

.title-with-logo {
    display: flex;
    width: fit-content;

    img {
        border-radius: 50%;
        transition: 0.2s filter;
    }

    .logo:hover {
        filter: brightness(1.1);
    }
}

@media (max-width: 767px) {
    .header {
        padding: 1em 0;
    }

    .title, .logo {
        margin: 1em;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
        transform-origin: 40% 48%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $font-color;
    margin-bottom: 0.5em;
    padding-top: 0.2em;

    a {
        color: $font-color;
        transition: filter 0.15s;
    }

    a:hover {
        filter: brightness(1.5) drop-shadow(0 0 4px $font-color-alt);
    }

    a:active {
        filter: brightness(0.8) drop-shadow(0 0 8px $font-color-alt);
    }

    .social {
        font-size: 2rem;
    }
}

/* Typography */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
}

h2 {
    margin-top: 0.8em;
}

ol, ul {
    padding-left: 1.5em;
}

img {
    max-width: 100%;
}