.landingpage {
    display: grid;
    gap: 1em 1em;
    margin-bottom: 0.5em;

    > :first-child {
        grid-column: span 3;
        justify-self: center;
    }

    @for $i from 1 to 5 {
        > :nth-child(#{$i * 2 + if($i > 2, 0, 1)}) {
            grid-column: span if($i % 3 == 0, 3, 2);
        }
    }
}

.landingpage > :not(:first-child) {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    text-align: justify;
    height: 4.4em;
    border: 1px solid $article-border-color;

    > :last-child {
        background-color: rgba(0, 0, 0, 0.05);
        height: 70%;
        padding-right: 0.8em;
    }

    > :first-child > *, > :last-child {
        flex: 1;
        padding-left: 0.3em;
    }

    a {
        display: block;
        position: relative;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.03);
        text-decoration: none;
    }

    p {
        display: inline;
        font-size: 0.9em;
        margin-right: -1em;
        padding-right: 1em;
    }

    p::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 2.8em;
        margin-top: 0.4em;
        background: $ellipsis-color;
    }

    &::before {
        content: '...';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1.41em;
    }
}

.landingpage a > :first-child {
    height: 1.15em;
    border-bottom: 2px solid $article-header-border-color;
    margin-bottom: 0;
    transition: text-shadow 0.7s;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: $article-header-border-hover-color;
        transition: width 0.7s, box-shadow 0.1s;
    }

    &:hover::after {
        width: 100%;
    }

    &:active::after {
        box-shadow: 0 0 7px $article-header-border-active-color;
    }

    &:hover {
        text-shadow: 0 0 3px $article-header-hover-color;
    }

    &:active {
        text-shadow: 0 0 10px $article-header-active-color;
        transition: text-shadow 0.1s;
    }
}

.entry {
    display: flex;
    height: 100%;

    img {
        max-width: 55%;
    }

    h1 {
        margin: 0;
    }

    a {
        transition: 0.3s filter;
    }

    a:hover {
        filter: brightness(1.5);
    }

    a:active {
        filter: brightness(2);
    }
}

.entry li > ul > li {
    position: relative;

    a {
        display: block;
    }

    a::before {
        content: '';
        position: absolute;
        left: -1.5em;
        width: 0;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.05), transparent);
        transition: 0.3s width;
    }

    a:hover::before {
        width: 100%;
    }
}

.entry .color-palette {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.2em;

    table {
        border-spacing: 4px;
        border-collapse: separate;
    }

    td {
        width: 50px;
        height: 50px;
        border: solid rgb(0, 0, 0) 1px;
    }
}

.entry > :first-child {
    padding-left: 0.4em;
    padding-right: 2em;
    margin-right: 2em;
}

.entry > :last-child {
    display: flex;
    flex-direction: column;

    > :nth-child(2) {
        overflow: auto;
        height: 50vh;
        padding: 2% 0;
        padding-right: 0.5em;
        mask: linear-gradient(to top, rgba(0, 0, 0, 0.2) 1%, black 2% 95%, rgba(0, 0, 0, 0.2) 98% 100%), linear-gradient(to left, black 0 8px, transparent 8px 100%);
    }

    > :last-child {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 12em;
    }

    h3 {
        margin: 0;
        margin-top: 0.5em;
        padding: 0.3em;
    }
}

@media (max-width: 767px) {
    .landingpage > :not(:first-child) {
        grid-column: span 3;
    }

    .entry {
        img {
            max-width: 100%;
        }

        > :first-child {
            display: none;
        }

        > :last-child > :nth-child(2) {
            height: 70vh;
        }
    }
}