$scrollbar-color: rgb(18, 33, 237);
$scrollbar-color-hover: rgb(51, 114, 239);
$scrollbar-background-color: rgb(30, 37, 132);

$nav-selection-box-shadow-color: rgb(222, 255, 91);
$nav-selection-text-shadow-color: rgb(183, 188, 85);
$nav-selection-text-shadow-color-second: rgb(152, 152, 152);
$nav-handle-color: rgb(51, 51, 51);

$nav-handle-color-alt: rgb(211, 211, 211);

$background-color: rgb(255, 255, 255);
$background-color-second: rgb(0, 255, 255);

$background-color-alt: rgb(20, 20, 20);
$background-color-second-alt: rgb(0, 204, 204);

$font-color: rgb(68, 68, 68);
$font-color-bold: rgb(17, 17, 17);

$font-color-alt: rgb(227, 227, 227);
$font-color-bold-alt: rgb(244, 244, 244);

$link-color-alt: rgb(50, 123, 247);
$link-visited-color-alt: rgb(220, 50, 240);

$p-background-color-alt: rgba(0, 0, 0, 0.3);

$ellipsis-color: rgb(74, 242, 242);
$ellipsis-color-alt: rgb(1, 70, 70);

$article-border-color: rgb(0, 0, 0);
$article-header-border-color: rgb(37, 153, 255);
$article-header-border-hover-color: rgb(88, 57, 214);
$article-header-border-active-color: rgb(105, 68, 254);
$article-header-hover-color: rgb(184, 170, 255);
$article-header-active-color: rgb(115, 84, 255);

$article-header-border-hover-color-alt: rgb(136, 0, 255);
$article-header-border-active-color-alt: rgb(141, 113, 252);
$article-header-hover-color-alt: rgb(50, 14, 228);
$article-header-active-color-alt: rgb(115, 84, 255);

$line-color-alt: rgb(154, 154, 154);
$icon-color-alt: rgb(189, 183, 175);
$icon-glow-color-alt: rgb(215, 215, 215);