$font-color: rgb(68, 68, 68);
$font-bold-color: rgb(17, 17, 17);
$font-alternative-color: rgb(227, 227, 227);
$accent-color: rgb(238, 108, 77);
$background-color: rgb(255, 255, 255);
$background-alternative-color: rgb(0, 255, 255);
